.sidebar-container{
    flex: 3;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
    z-index: 100;
}

@media screen and (max-width: 768px){
    .sidebar-container{
        display: none;
        flex: 0;
    }
}