.people-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 650px;
    margin-top: 2rem;
    padding: 1rem 1rem;
  transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .people-card:hover {
    transform: scale(1.1);
  }
  
  .profile-pic-medium {
    width: 80px;
    height: 80px;
    font-size: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #c0c0c0;
  }

  @media screen and (max-width: 768px) {

    .people-card {
        width: 100%;
        height: auto;
        padding: 0.5rem 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .profile-pic-medium {
      width: 60px;
      height: 60px;
    }
  
  }
  